/* Typography */
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  font-family: var(--ff-raleway);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  /* Primary Colors */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  /* Accent Colors */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  /* Neutral Colors */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  /* Font Family */

  /* Headings, Call-to-actions, Header Navigation */
  --ff-open-sans: "Open Sans", sans-serif;
  /* Body */
  --ff-raleway: "Raleway", sans-serif;
}
h1,
h2,
h3 {
  font-family: var(--ff-open-sans);
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  margin: 0;
}
p {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
}
/* Images */
img {
  width: 100%;
}
/* Lists */
ul,
li {
  cursor: pointer;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li:hover {
  color: var(--bright-blue);
}
/*Links*/
a {
  text-decoration: none;
}
/* Containers */
.container {
  display: grid;
  grid-template-rows: 1fr auto;
}
.callout--container {
  background-color: var(--desaturated-blue);
}
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .box--one {
    grid-column: 2 / 3;
  }
  .box--two {
    grid-row: 1 / 2;
  }
}
/* Inputs */
input {
  border-radius: 5px;
  width: 100%;
  height: 4.5rem;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}
.input--primary {
  border: 1.8px solid var(--very-dark-blue);
  opacity: 40%;
}
.input--secondary {
  background-color: #fff;
  border: none;
}
input:focus {
  border: 2px solid var(--very-dark-blue);
}
@media screen and (min-width: 768px) {
  input {
    width: 50rem;
  }
}
/* Buttons */
.btn {
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  outline: none;
  background-color: var(--bright-blue);
  color: var(--light-grayish-blue);
  cursor: pointer;
  height: 4.5rem;
}
.btn:hover {
  background-color: hsl(224, 94%, 65%);
}
.btn--primary {
  border-radius: 5px;
  width: 99%;
}
.btn--secondary {
  border-radius: 1px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .btn--primary {
    width: 25rem;
  }
  .btn--secondary {
    width: 20rem;
  }
}
/* Navigation Bar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.header--logo {
  width: 10rem;
  height: 3rem;
}
.nav--list {
  font-size: 1.5rem;
  font-family: var(--ff-open-sans);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  color: var(--very-dark-blue);
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 3rem;
  }
  .header--logo {
    width: 12rem;
    height: 3.5rem;
  }
  .nav--list {
    font-size: 1.8rem;
    width: 20vw;
  }
}
/* Hero Section */
.hero {
  margin: 5rem 0 5rem 0;
  padding: 1.5rem;
  text-align: center;
  color: var(--very-dark-blue);
}
form {
  display: flex;
  flex-direction: column;
}
.form--input {
  margin-bottom: 1rem;
}
.hero__text {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero {
    text-align: left;
    padding: 3rem;
  }
  form {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .hero__text {
    font-size: 2.1rem;
  }
}
/* Feature Section */
.feature {
  background-color: var(--light-grayish-blue);
  position: relative;
  margin-top: 13rem;
}
.feature__heading {
  text-align: center;
  color: var(--very-dark-blue);
}
.feature__text {
  color: var(--desaturated-blue);
  font-size: 1.5rem;
  padding: 0 2rem 0 2rem;
}
.feature__background {
  position: absolute;
  top: -3.9%;
  left: 0%;
}
@media screen and (min-width: 768px) {
  .feature__heading {
    text-align: left;
    font-size: 3.5rem;
    padding-left: 3rem;
  }
  .feature__text {
    font-size: 2.1rem;
    padding-left: 3rem;
  }
  .feature__background {
    top: -12%;
  }
}
/* Arrow */
.arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.arrow a:hover {
  color: hsl(170, 45%, 62%);
}
.arrow__text {
  padding-right: 0.5rem;
  color: var(--moderate-cyan);
}
.arrow__image {
  width: 2.5rem;
}
.arrow__image:hover {
  fill: hsl(170, 45%, 62%);
}
.underline {
  display: block;
  border-bottom: 0.5px solid var(--moderate-cyan);
  width: 55%;
  margin: auto;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .arrow {
    justify-content: left;
    padding-left: 3rem;
  }
  .underline {
    width: 24%;
    margin-left: 3rem;
  }
}
/* Testimonial Card */
.testimonial--card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  background-color: #fff;
  padding: 2rem;
  margin: 4rem 4rem 8rem 4rem;
  color: var(--very-dark-blue);
}
.quote__image {
  width: 2rem;
}
.testimonial {
  font-size: 1.2rem;
}
.testimony--footer {
  display: flex;
  justify-content: left;
  align-items: center;
}
.author__image {
  border-radius: 100px;
  width: 4rem;
  margin-right: 1rem;
}
.founder {
  font-size: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .testimonial--card {
    width: 50%;
    margin-left: 3rem;
  }
  .quote__image {
    width: 3.5rem;
  }
  .testimonial {
    font-size: 1.5rem;
  }
}
/* Callout Section */
.callout {
  padding: 3rem 4rem 4rem 4rem;
  text-align: center;
  color: #fff;
  background-color: var(--desaturated-blue);
}
.callout__heading {
  font-size: 2rem;
}
.callout__text {
  font-size: 1.5rem;
  opacity: 70%;
}
.callout--form {
  width: 80%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .callout {
    text-align: left;
  }
  .callout__heading {
    font-size: 2.5rem;
  }
  .callout__text {
    font-size: 2.1rem;
  }
  .callout--form {
    flex-direction: column;
  }
  .form--input {
    width: 80%;
    margin-right: 1rem;
  }
}
/* Footer */
footer {
  color: #fff;
  background-color: var(--very-dark-blue);
}
.logo {
  width: 18rem;
  margin: 3rem;
}
.company__contact {
  display: flex;
  flex-direction: column;
}
.phone,
.mail {
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-top: 0;
}
.list--one {
  font-size: 1.5rem;
}
.list--two {
  font-size: 1.5rem;
}
.media--icons {
  text-align: center;
}
.fab {
  border: 1px solid #fff;
  border-radius: 100%;
  margin: 0.5rem;
  padding: 0.8rem;
  color: #fff;
}
.fab:hover {
  border: 1px solid var(--bright-blue);
  color: var(--bright-blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 2rem;
}
.attribution a {
  color: hsl(228, 33%, 76%);
}
@media screen and (min-width: 768px) {
  .logo {
    margin: 10rem 0 0 8rem;
  }
  .footer--container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    margin: 5rem;
  }
  .list--one {
    font-size: 1.8rem;
  }
  .list--two {
    font-size: 1.8rem;
  }
}
